.header {
  background: #141E47;
  height: 60px;
  border-bottom: 1px solid #141E47;

  .new-listing-button {
    margin-right: 15px;
  }

  .link {
    font-size: 0.9rem;
    text-decoration: none;
    color: white;
  }
  .inow{
    background-color:#203166!important;
  }
}
